/* HEIGHT */
@media only screen and (max-height:560px){
    header{height: auto;padding: 3em 0}
    #freeTrial{margin-top: 0;}
}



/* WIDTH */

/* Medium Screens */
@media only screen and (max-width:992px){  
    .btn-free-trail{display: inline-block!important;}
}